In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('/content/AmesHousing.csv')

In [ ]:
# Count missing values for each column
missing_values = data.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 82, dtype: int64

In [ ]:
# Get numeric columns
numeric_cols = data.select_dtypes(include=np.number).columns

# Copy the dataset and fill only numeric columns with their mean
data_mean = data.copy()
data_mean[numeric_cols] = data_mean[numeric_cols].fillna(data_mean[numeric_cols].mean())

print("\nMissing values in numeric columns replaced with Mean.")
#display a preview of updated data
print(data.head())

Missing values in numeric columns replaced with Mean.
   Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0      1  526301100           20        RL         141.0     31770   Pave
1      2  526350040           20        RH          80.0     11622   Pave
2      3  526351010           20        RL          81.0     14267   Pave
3      4  526353030           20        RL          93.0     11160   Pave
4      5  527105010           60        RL          74.0     13830   Pave

  Alley Lot Shape Land Contour  ... Pool Area Pool QC  Fence Misc Feature  \
0   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
1   NaN       Reg          Lvl  ...         0     NaN  MnPrv          NaN
2   NaN       IR1          Lvl  ...         0     NaN    NaN         Gar2
3   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
4   NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN

  Misc Val Mo Sold Yr Sold Sale Type  Sale Condition  SalePrice
0        0       5    2010       WD           Normal     215000
1        0       6    2010       WD           Normal     105000
2    12500       6    2010       WD           Normal     172000
3        0       4    2010       WD           Normal     244000
4        0       3    2010       WD           Normal     189900

[5 rows x 82 columns]

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/WVS_per_Country.csv')

# Get numeric columns
numeric_cols = data_median.select_dtypes(include=np.number).columns

# Fill missing values in numeric columns with their median
data_median[numeric_cols] = data_median[numeric_cols].fillna(data_median[numeric_cols].median())
print("\nMissing values in numeric columns replaced with Median.")

#display a preview of updated data
print(data.head())

Missing values in numeric columns replaced with Median.
   Country  Wave  S004           S006      S007      S007_01 S009 S009A  \
0  Albania     4   NaN     500.500000  112494.5   80480500.5   AL    AL
1  Albania     3   1.0  200500.000000   78594.0   80360500.0   AL    AL
2  Algeria     4   NaN     641.500780  113635.5  120480641.5   DZ    DZ
3  Algeria     6   NaN     600.500000  331699.5  120600600.5   DZ    DZ
4  Andorra     5   NaN     722.209372  171526.0  200600502.0   AD    AD

        S010      S011  ...   Y012_Sd   Y013_Sd   Y014_Sd   Y020_Sd   Y021_Sd  \
0  80.278000  1411.442  ...  0.312742  0.412060  0.215111  0.138649  0.311839
1  96.596597       NaN  ...  0.293336  0.379238  0.217821  0.135696  0.265734
2  62.027301       NaN  ...  0.251419  0.328627  0.276228  0.132115  0.276265
3        NaN       NaN  ...  0.198245  0.370339  0.294353  0.140975  0.319788
4        NaN       NaN  ...  0.309393  0.361393  0.179372  0.156213  0.333458

    Y022_Sd   Y023_Sd   Y024_Sd  TRADRAT5_Sd  survself_Sd
0  0.264979  0.175288  0.209508     0.507019     0.442325
1  0.324785  0.167522  0.185812     0.532426     0.334042
2  0.267933  0.164923  0.272772     0.530380     0.378831
3  0.281949  0.225554  0.264459     0.409819     0.382288
4  0.149050  0.239513  0.271188     0.644723     0.648707

[5 rows x 1891 columns]